---
import Layout from "../layouts/Layout.astro";

import { ViewTransitions } from "astro:transitions";
---

<ViewTransitions />
<Layout title="CentralCraft - No Premium MC">
  <section class="drop-shadow-[-25px_-25px_60px_#339966]">
    <iframe class=" w-full h-[800px] pr-20 pl-20" src="http://centralcraft.blackpi.org:3000"></iframe>
  </section>
</Layout>
